<h1>Reports::CompanyAssets#show</h1>
<p>Find me in app/views/reports/company_assets/show.html.erb</p>
<ul>
  <li> Bank balance: <%= @company_assets.banks_balance %></li>
  <li> Amazon balance: <%= @company_assets.amazon_balance %></li>
  <li> Conterparty debt: <%= @company_assets.counterparties_debt %></li>
  <li> Company debt: <%= @company_assets.company_debt %></li>
  <li> Goods warehouses: <%= @company_assets.goods_warehouses %></li>
  <li> Goods transit: <%= @company_assets.goods_transit %></li>
  <li> Goods amazon warehouse: <%= @company_assets.goods_amazon_warehouse %></li>
</ul>
